
.hp-logo {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
}

.hp-login-container{
    width: 350px;
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    margin-top: 20px;
}

.hp-content {
    top: 40%;
    margin: auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-family: "Source Code Pro", monospace;
}
.hp-body-container,
.hp-body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content__heading {
    margin-bottom: 24px;
    color: #272727;
    font-size: 44px;
}

.hp-tagline {
    margin-bottom: 24px;
    color: #ccd2d6;
    font-size: 22px;
    width: 305px;
    left: 0;
    right: 0;
    margin: auto;
}

.hp-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: absolute;

}

.hp-field-margin-0 {
    margin-bottom: 0!important;
}

.hp-forgot-pass-container {
    width: 350px;
    color: white;
    padding: 30px;
}
.hp-forgot-pass-container a {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    margin: 0 5px;
    border-radius: 2px;
    color: #21ba45;
    cursor: pointer;
}

.hp-forgot-pass-container a:hover {
  color: #21ba45;
  opacity: 0.7;
}

.hp-login-container form .ui input[name=email],
.hp-login-container form .ui input[name=email]:focus{
    border-radius: 5px 5px 0 0;
}
.hp-login-container form .ui input[name=password],
.hp-login-container form .ui input[name=password]:focus{
    border-radius: 0 0 5px 5px;
}

.mediate-intro-video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-form-field {
  margin-bottom: 0 !important;
}

.login-form-field .input input {
  font-family: "Source Code Pro", monospace !important;
}

.login-form-field .input input:focus {
  border: 1px solid #21ba45 !important;
}

.toggle-icon-label {
  font-family: "Source Code Pro", monospace !important;
}

.login-submit {
  margin-top: 20px !important;
  font-family: "Source Code Pro", monospace !important;
}

.login-error .header, .signup-error .header {
  font-family: "Source Code Pro", monospace !important;
}

.login-error.show, .signup-error.show {
  display: block;
}

.login-error.hide, .signup-error.hide {
  display: none;
}

.toggle-icon-label {
  cursor: pointer;
}

/** ADMIN MENU **/

.three-menu-admin-container {
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.three-menu-admin-trigger.icon {
  color: #21ba45 !important;
}

.three-menu-admin {
  font-family: "Source Code Pro", monospace !important;
  color: #fff !important;
  background: #21ba45 !important;
}

.three-menu-admin .item {
  color: #fff !important;
}

.three-menu-admin .item a {
  color: #fff;
  cursor: pointer;
}

/** Signup Modal **/
.three-admin-signup-modal {
  font-family: "Source Code Pro", monospace !important;
}

.three-admin-signup-modal .header {
  font-family: "Source Code Pro", monospace !important;
}
