body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.three-loader-dimmer {
  background: rgba(0,0,0,1.0) !important;
}

.three-view {
  cursor: default;
}

.three-progress-loader {
  width: 50%;
}

.three-controls-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 10px;
  z-index: 10000;
}

.three-controls-button i {
  border-left: 2px solid #ccc;
}

.three-controls-button {
  margin-right: 10px !important;
}

.three-info-grid {
  position: relative;
  width: 50%;
  margin: 0 auto !important;
}

.three-info-grid-row {
  border-bottom: 5px solid #ccc;
}

.three-tool-menu-dropdown {
  border-left: 2px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.three-tool-menu {
  position: absolute;
  right: 0px;
  margin-top: 10px;
  color: #ccc !important;
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

.three-tool-menu.collapsed {
  transform: translateX(68%);
  transition: transform ease-in-out 1s;
}

.three-tool-menu.expanded {
  transform: translateX(0%);
  transition: transform ease-in-out 1s;
}

.three-tool-menu-button {
  padding-right: 20px;
}

.three-tool-menu-title {
  padding-bottom: 5px;
}

.three-tool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.three-tool-container .content {
  width: 100%;
}

.three-measure-tool-container .three-controls-button {
  margin: 0px !important;
}

.three-tool-container .title {
  display: flex !important;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  width: 100%;
}

.three-tool {
  position: relative;
  width: 100%;
}

.three-range-slider-container {
  position: relative;
  width: 100%;
  height: auto;
  background: none !important;
  border: 2px solid #ccc !important;
  padding: 20px !important;
}

.three-range-slider-label {
  background: none !important;
  color: #ccc !important;
  border-right: 2px solid #ccc !important;
  border-bottom: 2px solid #ccc !important;
}

.three-range-slider-container .input-range {
  padding-top: 20px;
}
