body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.three-loader-dimmer {
  background: rgba(0,0,0,1.0) !important;
}

.three-progress-loader {
  width: 50%;
}

.three-controls-container {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 10px;
}

.three-controls-button i {
  border-left: 2px solid #ccc;
}

.three-controls-button {
  margin-right: 10px !important;
}
